<div class="panel panel-default">
<legend id="q1"> Would you travel alone to a different country? </legend>
Hell Yeah
{{#radio-button
  value="A"
  groupValue=choice

}}
{{/radio-button}}
<br>
Fuck no
{{#radio-button
  value="B"
  groupValue=choice

}}
{{/radio-button}}
<br>
Meh
{{#radio-button
  value="C"
  groupValue=choice

}}
{{/radio-button}}
<br>
Why are you asking?
{{#radio-button
  value="D"
  groupValue=choice

}}

{{/radio-button}}
<br>
</div>

<br>
<div class="panel panel-default">
<legend id="q2"> What is your ideal first date? </legend>
Cliff Diving
{{#radio-button
  value="A"
  groupValue=choice2

}}
{{/radio-button}}
<br>
Netflix and Chill
{{#radio-button
  value="B"
  groupValue=choice2

}}
{{/radio-button}}
<br>
Whatever the other person wants.
{{#radio-button
  value="C"
  groupValue=choice2

}}
{{/radio-button}}
<br>
Breaking and entering into an art museum
{{#radio-button
  value="D"
  groupValue=choice2

}}

{{/radio-button}}
<br>
</div>

<br>
<div class="panel panel-default">
<legend id="q3"> What is your life objective? </legend>
Die at 35 in a blaze of glory in a squirrel suit
{{#radio-button
  value="A"
  groupValue=choice3

}}
{{/radio-button}}
<br>
Get married, join a country club, and have kids that go to ivy-league schools
{{#radio-button
  value="B"
  groupValue=choice3

}}
{{/radio-button}}
<br>
Be happy.
{{#radio-button
  value="C"
  groupValue=choice3

}}
{{/radio-button}}
<br>
Achieve nirvana and discover truth about existence.
{{#radio-button
  value="D"
  groupValue=choice3

}}

{{/radio-button}}
<br>
</div>

<br>
<div class="panel panel-default">
<legend id="q4"> Who is your hero?</legend>
Tony Stark
{{#radio-button
  value="A"
  groupValue=choice4

}}
{{/radio-button}}
<br>
Jennifer Aniston
{{#radio-button
  value="B"
  groupValue=choice4

}}
{{/radio-button}}
<br>
George Bush
{{#radio-button
  value="C"
  groupValue=choice4

}}
{{/radio-button}}
<br>
Ruby Rose
{{#radio-button
  value="D"
  groupValue=choice4

}}

{{/radio-button}}
<br>
</div>

<br>
<div class="panel panel-default">
<legend id="q5"> What most attracts you to another person? </legend>
Passion and zest for life
{{#radio-button
  value="A"
  groupValue=choice5

}}
{{/radio-button}}
<br>
Loyalty and warmth
{{#radio-button
  value="B"
  groupValue=choice5

}}
{{/radio-button}}
<br>
Hotness and hotness
{{#radio-button
  value="C"
  groupValue=choice5

}}
{{/radio-button}}
<br>
If they hate the patriarchy as much as I do
{{#radio-button
  value="D"
  groupValue=choice5

}}

{{/radio-button}}
<br>
</div>

<br>
<div class="panel panel-default">
<legend id="q6"> What's your ideal burger topping? </legend>
Jalepenos and hot sauce
{{#radio-button
  value="A"
  groupValue=choice6

}}
{{/radio-button}}
<br>
Goat cheese and arugula
{{#radio-button
  value="B"
  groupValue=choice6

}}
{{/radio-button}}
<br>
American cheese
{{#radio-button
  value="C"
  groupValue=choice6

}}
{{/radio-button}}
<br>
I only eat tofu burgers
{{#radio-button
  value="D"
  groupValue=choice6

}}

{{/radio-button}}
<br>
</div>

<button type="button"  class="btn btn-primary" name="submit" {{action 'submitSurvey'}}>Submit </button>
